#carousel {
  max-width: 85%;
  margin: 0 auto;
  overflow: hidden;
}

#carousel__item {
  display: flex;
  width: 6rem;
  animation: carousel 100s linear infinite;
}

@keyframes carousel {
  100% {
    transform: translateX(-2560px);
  }
}